@import 'home.css';


.fill {
    background: #FFFBFE !important;
}

.main-view {
    box-shadow: none !important;
    background: #FFFBFE !important;
}

.main-view.container-fluid {
    padding: 0px !important;
}

.main-view-vertical {
    margin-top: 0px !important;
}
